body {
    margin: 0;
    padding: 0;
   
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
h1{
    text-align: center;
    width: bold;
    background-color: rgb(251, 149, 48);
    padding: 0;
    margin: 0;
      
}
header {
    width: 100%;
    height: 130px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #245ebb;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    
    
}
.content {
    display: grid;
    grid-template-columns: 2fr  3fr;
    grid-auto-rows: 400px;
    margin: 50px 0;
    gap: 15px;

}
.content-image{
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin-top: 45px;

}
.info {
    align-self: center;

}
.info-button{
    border:none;
    border-radius: 20px;
    color: #333;
    background-color: #fee504;
    font-weight: bolder;
    padding: 12px 24px;

}
.blogs-posts-container {
    padding:  0 50px 40px;
}
.blogs-posts-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding: 20px;
    text-align: center;

}
.blogs-button {
    border: 2px solid #000;
    padding: 10px 15px;
    font-size: 12px;
    background-color: #47cfac;
}
.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}
.blogs-posts-container .post-container p {
    margin-bottom: 35px;
  
    
   
}
.blogs-posts-container .post-container img {
    width: 100%;
    object-fit: cover;
    
    
}

footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #141414;
    margin-top: 35px;
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: #fee504;
}

.container{
    padding-top: 100px;
    padding-bottom: 100px;
}
