<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

  <script type="text/javascript" src="/Users/German Sucuqui/Desktop/intecap-web/js/index.js"></script>
 
   <h1>Registro de clientes</h1>

<body>
    <body class="p-3 m-0 border-0 bd-example">

    <!-- Example Code -->
    
    <form class="row g-3 needs-validation" novalidate="">
      <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="validationTooltip01" value="" required="">
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="validationTooltip02" value="" required="">
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 position-relative">
        <label for="validationTooltipUsername" class="form-label">Codigo</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="validationTooltipUsernamePrepend">Codigo</span>
          <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required="">
          <div class="invalid-tooltip">
            Por favor eligir codigo correcto.
          </div>
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <label for="validationTooltip03" class="form-label">Ciudad de donde nos visita</label>
        <input type="text" class="form-control" id="validationTooltip03" required="">
        <div class="invalid-tooltip">
          Por favor ingrese ciudad.
        </div>
      </div>
      <div class="col-md-3 position-relative">
        <label for="validationTooltip04" class="form-label">Estado</label>
        <select class="form-select" id="validationTooltip04" required="">
          <option selected="" disabled="" value="">Elegir...</option>
          <option>...</option>
        </select>
        <div class="invalid-tooltip">
          Por favor elegir estado correcto.
        </div>
      </div>
      <div class="col-md-3 position-relative">
        <label for="validationTooltip05" class="form-label">Zip</label>
        <input type="text" class="form-control" id="validationTooltip05" required="">
        <div class="invalid-tooltip">
          Please provide a valid zip.
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">enviar</button>
      </div>
    </form>
    
    <!-- End Example Code -->
  </body>
   


</body>



</html>