<!doctype html>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Reservaciones</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

  <script type="text/javascript" src="/Users/German Sucuqui/Desktop/intecap-web/js/index.js"></script>
  <link rel="stylesheet" href="/Users/German Sucuqui/Desktop/intecap-web/css/style.css" type="text/css"/>

 
<html>

<body>
    

    <div class="form-group">
        <input id="dp1" type="text" class="form-control clickable input-md" id="DtChkIn" placeholder="&#xf133;  Check-In">
      </div>
      <div class="form-group">
        <input id="dp2" type="text" class="form-control clickable input-md" id="DtChkOut" placeholder="&#xf133;  Check-Out">
      </div>
      <hr>


      <div id="booking" class="section"> 
        <div class="section-center"> 
            <div class="container"> 
                <div class="row"> 
                    <div class="booking-form"> 
                        <div class="form-header"> 
                            <h1>Haz tu Reservacion</h1> 
                        </div> 
                        <form> 
                            <div class="form-group"> <input class="form-control" type="text" placeholder="Pais y Ciudad..."> 
                                <span class="form-label">Destination</span> 
                            </div> 
                            <div class="row"> 
                                <div class="col-md-6"> 
                                    <div class="form-group"> <input class="form-control" type="date" required> 
                                        <span class="form-label">Check In</span> 
                                    </div> 
                                </div> 
                                <div class="col-md-6"> 
                                    <div class="form-group"> <input class="form-control" type="date" required> 
                                        <span class="form-label">Check out</span> 
                                    </div> 
                                </div> 
                            </div> 
                            <div class="row"> 
                                <div class="col-md-4"> 
                                    <div class="form-group"> <select class="form-control" required> <option value="" selected hidden>no. de habitaciones</option> <option>1</option> <option>2</option> <option>3</option> </select> 
                                        <span class="select-arrow"></span> 
                                        <span class="form-label">Rooms</span> 
                                    </div> 
                                </div> 
                                <div class="col-md-4"> 
                                    <div class="form-group"> <select class="form-control" required> <option value="" selected hidden>no de adultos</option> <option>1</option> <option>2</option> <option>3</option> </select> 
                                        <span class="select-arrow"></span> 
                                        <span class="form-label">Adultos</span> 
                                    </div>                              
                                </div> 
                                <div class="col-md-4"> 
                                    <div class="form-group"> <select class="form-control" required> <option value="" selected hidden>no de ninos</option> <option>0</option> <option>1</option> <option>2</option> </select> 
                                        <span class="select-arrow"></span> <span class="form-label">ninos</span> 
                                    </div> 
                                </div> 
                            </div> 
                            
                            <div class="row"> 
                                <div class="col-md-6"> 
                                    <div class="form-group"> <input class="form-control" type="nombre" placeholder="Ingresa tu nombre"> <span class="form-label">Nombre </span> 
                                    </div> 
                                </div> 
                                <div class="col-md-6"> 
                                    <div class="form-group"> <input class="form-control" type="apellido" placeholder="Ingresa tu apellido"> 
                                        <span class="form-label">Apellido</span> 
                                    </div> 
                                </div> 
                            </div> 


                            <div class="row"> 
                                <div class="col-md-6"> 
                                    <div class="form-group"> <input class="form-control" type="email" placeholder="Enter your Email"> <span class="form-label">Email</span> 
                                    </div> 
                                </div> 
                                <div class="col-md-6"> 
                                    <div class="form-group"> <input class="form-control" type="tel" placeholder="Ingresa tu numero de telefono Enter you Phone"> 
                                        <span class="form-label">Telefono</span> 
                                    </div> 
                                </div> 
                            </div> 
                            <div class="form-btn"> <button class="submit-btn">Reserva ya!</button> 
                            </div> 
                        </form> 
                    </div> 
                </div> 
            </div> 
        </div>
</div>
</body>


</html>